[build]
builder = "nixpacks"
buildCommand = "cd apps/web && npm install && npx prisma generate && npm run build"

[deploy]
startCommand = "cd apps/web && npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[build.nixpacks]
pkgManager = "npm"
aptPkgs = ["ffmpeg"]
